---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeaderTitle from "../components/HeaderTitle.astro";
import DarkModeToggleButton from "../components/DarkModeToggleButton";
import SectionCard from "../components/molecules/SectionCard.astro";
import SectionTitle from "../components/atoms/SectionTitle.astro";
import ExternalLink from "../components/atoms/ExternalLink.astro";
import Icon from "../components/atoms/Icon.astro";
import ListItem from "../components/molecules/ListItem.astro";
import SectionList from "../components/molecules/SectionList.astro";
---

<Layout title="Lewis Andy - Front End Developer">
  <Header>
    <div class="col-span-10 md:col-span-6 row-start-1 row-span-1">
      <HeaderTitle />
    </div>
    <section
      class="row-start-2 row-span-1 md:row-start-1 col-span-12 md:col-span-5 flex flex-col gap-2 md:items-end justify-center"
    >
      <ExternalLink href="https://www.linkedin.com/in/lewis-andy/">
        <Icon variant="linkedin" />
        linkedin.com/in/lewis-andy
      </ExternalLink>
      <ExternalLink href="https://github.com/subject026">
        <Icon variant="github" />
        github.com/subject026
      </ExternalLink>
    </section>
    <div
      class="col-span-2 md:col-span-1 row start-1 row-span-1 flex justify-end align-middle"
    >
      <DarkModeToggleButton client:load />
    </div>
  </Header>

  <main class="w-full py-4 md:py-8 grid grid-cols-12 md:gap-x-10">
    <section class="col-span-12 md:col-span-4 flex flex-col gap-8">
      <SectionCard>
        <SectionTitle>Current Projects</SectionTitle>
        <SectionList>
          <ListItem icon="project"
            >Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.</ListItem
          >
          <ListItem icon="project"
            >Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.</ListItem
          >
          <ListItem icon="project"
            >Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.</ListItem
          >
          <ListItem icon="project"
            >Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.</ListItem
          >
        </SectionList>
      </SectionCard>
      <SectionCard>
        <SectionTitle>Skills</SectionTitle>
        <SectionList>
          <ListItem icon="commandline"
            >Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.</ListItem
          >
          <ListItem icon="commandline"
            >Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.</ListItem
          >
          <ListItem icon="commandline"
            >Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.</ListItem
          >
          <ListItem icon="commandline"
            >Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.</ListItem
          >
        </SectionList>
      </SectionCard>
    </section>
    <section class="col-span-12 md:col-span-8 flex flex-col gap-8">
      <SectionCard>
        <SectionTitle>About Me</SectionTitle>
        <p>
          <strong>Pellentesque habitant morbi tristique</strong> senectus et netus
          et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
          ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
          semper.
          <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque
          sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
          sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean
          fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
          sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis
          pulvinar facilisis. Ut felis.
        </p>
      </SectionCard>
      <SectionCard>
        <SectionTitle>Experience</SectionTitle>
        <p>
          <strong>Pellentesque habitant morbi tristique</strong> senectus et netus
          et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
          ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
          semper.
          <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque
          sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
          sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean
          fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
          sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis
          pulvinar facilisis. Ut felis.
        </p>
        <p>
          <strong>Pellentesque habitant morbi tristique</strong> senectus et netus
          et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
          ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
          semper.
          <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque
          sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
          sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean
          fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
          sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis
          pulvinar facilisis. Ut felis.
        </p>
      </SectionCard>
    </section>
  </main>
</Layout>

<script is:inline>
  const getTheme = () => {
    if (
      typeof localStorage !== "undefined" &&
      localStorage.getItem("lewisAndyTheme")
    ) {
      return localStorage.getItem("lewisAndyTheme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  };

  const theme = getTheme();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("lewisAndyTheme", theme);
</script>
