---
export interface Props {
  variant: "linkedin" | "github" | "project" | "commandline";
}

const { variant } = Astro.props;
---

<div class="w-5 h-5 shrink-0 pt-1">
  {
    variant === "linkedin" && (
      <svg
        class="w-full fill-inherit"
        viewBox="0 0 10 10"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M9.26 0H.737A.73.73 0 0 0 0 .72v8.56c0 .398.331.72.738.72H9.26c.407 0 .74-.322.74-.72V.72A.732.732 0 0 0 9.26 0ZM2.965 8.521H1.482V3.75h1.485v4.772Zm-.742-5.424a.86.86 0 1 1 0-1.72.86.86 0 0 1 0 1.72ZM8.521 8.52H7.039v-2.32c0-.553-.01-1.265-.77-1.265-.773 0-.89.602-.89 1.225v2.36H3.897V3.75h1.421v.652h.02c.199-.375.683-.77 1.404-.77 1.5 0 1.778.988 1.778 2.273v2.617Z" />
      </svg>
    )
  }
  {
    variant === "github" && (
      <svg
        class="w-full fill-inherit"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.999 0a8 8 0 0 0-2.528 15.591c.4.073.546-.174.546-.386 0-.19-.007-.693-.011-1.361-2.225.483-2.695-1.072-2.695-1.072-.364-.924-.888-1.17-.888-1.17-.726-.496.055-.486.055-.486.803.057 1.225.824 1.225.824.714 1.223 1.872.87 2.328.665.073-.517.279-.87.508-1.069-1.776-.202-3.644-.888-3.644-3.954 0-.873.312-1.587.823-2.147-.081-.202-.356-1.016.08-2.117 0 0 .672-.215 2.2.82A7.672 7.672 0 0 1 8 3.869a7.691 7.691 0 0 1 2.003.269c1.527-1.035 2.198-.82 2.198-.82.436 1.101.162 1.915.08 2.117.513.559.822 1.273.822 2.147 0 3.073-1.87 3.75-3.653 3.948.287.247.543.735.543 1.481 0 1.069-.01 1.932-.01 2.195 0 .214.144.463.55.385A8 8 0 0 0 7.999 0z"
        />
      </svg>
    )
  }
  {
    variant === "project" && (
      <svg
        class="w-full fill-inherit"
        viewBox="0 0 71.883 71.883"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M3.264 21.225 34.61 36.759a2.997 2.997 0 0 0 2.664 0l31.345-15.535a3.001 3.001 0 0 0 0-5.376L37.274.312a3 3 0 0 0-2.664 0L3.264 15.849a3 3 0 0 0 0 5.376zM35.942 6.349l24.589 12.188-24.589 12.186-24.59-12.186 24.59-12.188z" />
        <path d="M65.955 27.827 35.942 42.702 5.928 27.827a3 3 0 0 0-2.664 5.376L34.61 48.739a2.997 2.997 0 0 0 2.664-.001l31.345-15.535a3 3 0 0 0-2.664-5.376z" />
        <path d="M65.955 39.244 35.942 54.118 5.928 39.243a3 3 0 0 0-2.664 5.377L34.61 60.155a2.997 2.997 0 0 0 2.664-.001l31.345-15.535c1.484-.735 2.092-2.535 1.355-4.02s-2.537-2.094-4.019-1.355z" />
        <path d="M65.955 50.66 35.942 65.534 5.928 50.659a3 3 0 0 0-2.664 5.377L34.61 71.571a2.997 2.997 0 0 0 2.664-.001l31.345-15.535a2.999 2.999 0 0 0 1.355-4.02 2.996 2.996 0 0 0-4.019-1.355z" />
      </svg>
    )
  }
  {
    variant === "commandline" && (
      <svg
        class="w-full fill-inherit"
        viewBox="0 0 2020"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.25 3A2.25 2.25 0 0 0 1 5.25v9.5A2.25 2.25 0 0 0 3.25 17h13.5A2.25 2.25 0 0 0 19 14.75v-9.5A2.25 2.25 0 0 0 16.75 3H3.25Zm.943 8.752a.75.75 0 0 1 .055-1.06L6.128 9l-1.88-1.693a.75.75 0 1 1 1.004-1.114l2.5 2.25a.75.75 0 0 1 0 1.114l-2.5 2.25a.75.75 0 0 1-1.06-.055ZM9.75 10.25a.75.75 0 0 0 0 1.5h2.5a.75.75 0 0 0 0-1.5h-2.5Z"
        />
      </svg>
    )
  }
</div>
