---
export interface Props {
  variant: "linkedin" | "github";
}

const { variant } = Astro.props;
---

<div class="w-6 h-6">
  {
    variant === "linkedin" && (
      <svg
        class="w-full fill-inherit"
        viewBox="0 0 10 10"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M9.26 0H.737A.73.73 0 0 0 0 .72v8.56c0 .398.331.72.738.72H9.26c.407 0 .74-.322.74-.72V.72A.732.732 0 0 0 9.26 0ZM2.965 8.521H1.482V3.75h1.485v4.772Zm-.742-5.424a.86.86 0 1 1 0-1.72.86.86 0 0 1 0 1.72ZM8.521 8.52H7.039v-2.32c0-.553-.01-1.265-.77-1.265-.773 0-.89.602-.89 1.225v2.36H3.897V3.75h1.421v.652h.02c.199-.375.683-.77 1.404-.77 1.5 0 1.778.988 1.778 2.273v2.617Z" />
      </svg>
    )
  }
  {
    variant === "github" && (
      <svg
        class="w-full fill-inherit"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.999 0a8 8 0 0 0-2.528 15.591c.4.073.546-.174.546-.386 0-.19-.007-.693-.011-1.361-2.225.483-2.695-1.072-2.695-1.072-.364-.924-.888-1.17-.888-1.17-.726-.496.055-.486.055-.486.803.057 1.225.824 1.225.824.714 1.223 1.872.87 2.328.665.073-.517.279-.87.508-1.069-1.776-.202-3.644-.888-3.644-3.954 0-.873.312-1.587.823-2.147-.081-.202-.356-1.016.08-2.117 0 0 .672-.215 2.2.82A7.672 7.672 0 0 1 8 3.869a7.691 7.691 0 0 1 2.003.269c1.527-1.035 2.198-.82 2.198-.82.436 1.101.162 1.915.08 2.117.513.559.822 1.273.822 2.147 0 3.073-1.87 3.75-3.653 3.948.287.247.543.735.543 1.481 0 1.069-.01 1.932-.01 2.195 0 .214.144.463.55.385A8 8 0 0 0 7.999 0z"
        />
      </svg>
    )
  }
</div>
